body {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
    background-image: url(https://wallpaperaccess.com/full/4677568.jpg);
    background-size: contain;
}

#car-list {
    grid-column: 1;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

#add-form,
.car-item {
    color: white;
    font-weight: bold;
}

#add-form {
    grid-column: 4;
    padding: 100px;
}

.car-item {
    border: 1px solid #ccc;
    padding: 10px;
}

header {
    text-align: center;
    grid-column: 2;
    color: crimson;
}

@media (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
    }

    #car-list {
        order: 1;
        min-width: 250px;
    }

    #add-form {
        order: 2;
    }
}